BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
## UPDATED FleaFPGA_2v4 18092013 0548PM
## IOBUF USER PUSHBUTTONS;
IOBUF PORT "n_pb1" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "n_pb2" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "n_pb1" SITE "43" ;
LOCATE COMP "n_pb2" SITE "44" ;
## IOBUF USER LEDS;
IOBUF PORT "n_led1" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "n_led2" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "n_led3" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "n_led4" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "n_led1" SITE "45" ;
LOCATE COMP "n_led2" SITE "47" ;
LOCATE COMP "n_led3" SITE "48" ;
LOCATE COMP "n_led4" SITE "49" ;
## IOBUF USB HOST; ## USB RX pin moved to XO2 pin 89 in PCB rev 2v4!
IOBUF PORT "host_rx_i" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "host_tx_o" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "host_cs" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "host_spi" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "host_reset" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "host_sck" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "host_sdi" PULLMODE=UP IO_TYPE=LVCMOS33 CLAMP=OFF OPENDRAIN=OFF ;
IOBUF PORT "host_sdo" PULLMODE=NONE IO_TYPE=LVCMOS33 CLAMP=OFF ;
LOCATE COMP "host_sdi" SITE "99" ;
LOCATE COMP "host_sdo" SITE "98" ;
IOBUF PORT "host_nInt" PULLMODE=NONE IO_TYPE=LVCMOS33 CLAMP=OFF ;
LOCATE COMP "host_nInt" SITE "104" ;
LOCATE COMP "host_sck" SITE "100" ;
LOCATE COMP "host_tx_o" SITE "89" ;
LOCATE COMP "host_rx_i" SITE "107" ;
LOCATE COMP "host_cs" SITE "103" ;
LOCATE COMP "host_spi" SITE "106" ;
LOCATE COMP "host_reset" SITE "105" ;
## IOBUF USB SLAVE; ## Swapped in PCB rev 2v4!!!
IOBUF PORT "slave_rx_i" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "slave_tx_o" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "slave_rx_i" SITE "78" ;
LOCATE COMP "slave_tx_o" SITE "77" ;
## IOBUF FPGA CLOCK AND RESET; ##Sys_clock moved to XO2 pin 3 in PCB rev 2v4
IOBUF PORT "sys_reset" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "sys_clock" IO_TYPE=LVCMOS33 ;
FREQUENCY PORT "sys_clock" 50.000000 MHz ;
LOCATE COMP "sys_reset" SITE "91" ;
LOCATE COMP "sys_clock" SITE "3" ;
## IOBUF AUDIO OUT;
IOBUF PORT "Audio_l" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Audio_r" IO_TYPE=LVCMOS33 ;
LOCATE COMP "Audio_l" SITE "97" ;
LOCATE COMP "Audio_r" SITE "96" ;
## IOBUF PS/2 KEYBOARD AND MOUSE;
IOBUF PORT "PS2_clk1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "PS2_data1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "PS2_clk2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "PS2_data2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PS2_clk1" SITE "95" ;
LOCATE COMP "PS2_data1" SITE "94" ;
LOCATE COMP "PS2_clk2" SITE "92" ;
LOCATE COMP "PS2_data2" SITE "93" ;
## IOBUF VGA OUTPUT; ## Extended to 12bit-color out in rev 2v4!!!
IOBUF PORT "vga_vs" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_hs" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_red[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_red[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_red[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_red[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_green[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_green[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_green[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_green[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_blue[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_blue[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_blue[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_blue[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "vga_vs" SITE "87" ;
LOCATE COMP "vga_hs" SITE "109" ;
LOCATE COMP "vga_red[3]" SITE "112" ;
LOCATE COMP "vga_red[2]" SITE "120" ;
LOCATE COMP "vga_red[1]" SITE "115" ;
LOCATE COMP "vga_red[0]" SITE "125" ;
LOCATE COMP "vga_green[3]" SITE "111" ;
LOCATE COMP "vga_green[2]" SITE "119" ;
LOCATE COMP "vga_green[1]" SITE "114" ;
LOCATE COMP "vga_green[0]" SITE "122" ;
LOCATE COMP "vga_blue[3]" SITE "110" ;
LOCATE COMP "vga_blue[2]" SITE "117" ;
LOCATE COMP "vga_blue[1]" SITE "113" ;
LOCATE COMP "vga_blue[0]" SITE "121" ;
## IOBUF GPIO HEADER;
IOBUF PORT "GPIO[18]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO[17]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO[16]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO[15]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO[14]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "GPIO[12]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO[11]" IO_TYPE=LVTTL33 PULLMODE=NONE SLEWRATE=SLOW DIFFRESISTOR=OFF DRIVE=8 ;
IOBUF PORT "GPIO[10]" IO_TYPE=LVDS25 PULLMODE=NONE ;
IOBUF PORT "GPIO[9]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO[8]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO[7]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO[6]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "GPIO[4]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
IOBUF PORT "GPIO[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO1[1]" IO_TYPE=LVDS25 SLEWRATE=NA PULLMODE=NONE CLAMP=OFF HYSTERESIS=NA ;
LOCATE COMP "GPIO1[1]" SITE "70" ;
LOCATE COMP "GPIO[2]" SITE "68" ;
LOCATE COMP "GPIO[3]" SITE "65" ;
LOCATE COMP "GPIO[4]" SITE "61" ;
LOCATE COMP "GPIO[5]" SITE "62" ;
LOCATE COMP "GPIO[6]" SITE "58" ;
LOCATE COMP "GPIO[7]" SITE "56" ;
LOCATE COMP "GPIO[8]" SITE "54" ;
LOCATE COMP "GPIO[9]" SITE "50" ;
##LOCATE COMP "GPIO[10]" SITE "71" ;
LOCATE COMP "GPIO[11]" SITE "69" ;
LOCATE COMP "GPIO[12]" SITE "67" ;
LOCATE COMP "GPIO[13]" SITE "63" ;
LOCATE COMP "GPIO[14]" SITE "60" ;
LOCATE COMP "GPIO[15]" SITE "59" ;
LOCATE COMP "GPIO[16]" SITE "57" ;
LOCATE COMP "GPIO[17]" SITE "55" ;
LOCATE COMP "GPIO[18]" SITE "52" ;
## IOBUF SDRAM; ## DQML added, Dram_clk and DRAM_A1 pins moved in PCB 2v4!
IOBUF PORT "Dram_Clk" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "Dram_n_Ras" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_n_Cas" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_n_We" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_n_cs" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "Dram_DQMH" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_DQML" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_BA[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_BA[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Data[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "Dram_Clk" SITE "24" ;
LOCATE COMP "Dram_n_Ras" SITE "11" ;
LOCATE COMP "Dram_n_Cas" SITE "12" ;
LOCATE COMP "Dram_n_We" SITE "141" ;
LOCATE COMP "Dram_BA[0]" SITE "10" ;
LOCATE COMP "Dram_BA[1]" SITE "9" ;
LOCATE COMP "Dram_n_cs" SITE "142" ;
LOCATE COMP "Dram_DQMH" SITE "25" ;
LOCATE COMP "Dram_DQML" SITE "4" ;
LOCATE COMP "Dram_Data[15]" SITE "35" ;
LOCATE COMP "Dram_Data[14]" SITE "34" ;
LOCATE COMP "Dram_Data[13]" SITE "33" ;
LOCATE COMP "Dram_Data[12]" SITE "32" ;
LOCATE COMP "Dram_Data[11]" SITE "31" ;
LOCATE COMP "Dram_Data[10]" SITE "28" ;
LOCATE COMP "Dram_Data[9]" SITE "27" ;
LOCATE COMP "Dram_Data[8]" SITE "26" ;
LOCATE COMP "Dram_Data[7]" SITE "140" ;
LOCATE COMP "Dram_Data[6]" SITE "139" ;
LOCATE COMP "Dram_Data[5]" SITE "138" ;
LOCATE COMP "Dram_Data[4]" SITE "133" ;
LOCATE COMP "Dram_Data[3]" SITE "132" ;
LOCATE COMP "Dram_Data[2]" SITE "128" ;
LOCATE COMP "Dram_Data[1]" SITE "127" ;
LOCATE COMP "Dram_Data[0]" SITE "126" ;
LOCATE COMP "Dram_Addr[12]" SITE "23" ;
LOCATE COMP "Dram_Addr[11]" SITE "22" ;
LOCATE COMP "Dram_Addr[10]" SITE "143" ;
LOCATE COMP "Dram_Addr[9]" SITE "13" ;
LOCATE COMP "Dram_Addr[8]" SITE "21" ;
LOCATE COMP "Dram_Addr[7]" SITE "20" ;
LOCATE COMP "Dram_Addr[6]" SITE "14" ;
LOCATE COMP "Dram_Addr[5]" SITE "19" ;
LOCATE COMP "Dram_Addr[4]" SITE "15" ;
LOCATE COMP "Dram_Addr[3]" SITE "2" ;
LOCATE COMP "Dram_Addr[2]" SITE "1" ;
LOCATE COMP "Dram_Addr[1]" SITE "5" ;
LOCATE COMP "Dram_Addr[0]" SITE "6" ;
## IOBUF SD/MMC PORT;
IOBUF PORT "mmc_miso" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "mmc_dat1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "mmc_dat2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "mmc_n_cs" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "mmc_mosi" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "mmc_clk" IO_TYPE=LVCMOS33 ;
LOCATE COMP "mmc_miso" SITE "42" ;
LOCATE COMP "mmc_dat1" SITE "41" ;
LOCATE COMP "mmc_dat2" SITE "40" ;
LOCATE COMP "mmc_n_cs" SITE "39" ;
LOCATE COMP "mmc_mosi" SITE "38" ;
LOCATE COMP "mmc_clk" SITE "17" ;
## IOBUF ALLPORTS ;
IOBUF PORT "Dram_BA[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_BA[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_Addr[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_dqm[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Dram_dqm[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vga_red[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_red[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_red[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_red[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_green[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_green[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_green[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_green[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_blue[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_blue[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_blue[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "vga_blue[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "spi_sram_clk" SITE "82" ;
LOCATE COMP "spi_sram_hold" SITE "81" ;
LOCATE COMP "spi_sram_cs" SITE "86" ;
LOCATE COMP "spi_sram_mosi" SITE "83" ;
LOCATE COMP "spi_sram_miso" SITE "85" ;
IOBUF PORT "spi_sram_miso" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA ;
IOBUF PORT "spi_sram_cs" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "spi_sram_hold" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "spi_sram_clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "spi_sram_mosi" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
